table, th, td {
	border: 1px solid black;
	padding: 6px;
}

form {
	display: none;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	max-width: 200px;
}

form > div {
	margin: 10px;
}

.button {
	margin: 5px;
	padding: 5px;
}

.removeBook, #select {
	display: inline;
}

#close {
	display: block;
	float: right;
	padding: 5px;
	font-size: 10px;
	border-radius: 50%;
}